html { 
    background: url(/images/shadow-isles_splash.jpeg) no-repeat center center fixed #000; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: red;
}