html { 
    background: url(/assets/background_6.png) no-repeat center center fixed #000; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

body{
    color: white;
    font-family: 'Homemade Apple', cursive;
    height: 100%;
    margin: 0;
    text-align: center;
}

h1{
    text-align: center;
    color: white;
    font-size: small;
}

.carousel{
    padding: 1rem;
    background: white;
    box-shadow: rgba(0,0,0,0.56) 0px 22px 70px 4px;
    border-radius: 8px;
    max-width: 900px;
    width: 85vw;
    margin: auto;
}

.images-container{
    display: flex;
    gap: 40px;
    overflow-x: auto;
}

.images-container img{
    height: 281px;
    width: 500px;
}

#text{
    padding-top: 1%;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: yellow;
}
