html { 
    background: url(/assets/background_5.png) no-repeat center center fixed #000; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: medium;
    text-align: center;
    padding-top: 25%;
}

div{
    padding-top: 10%;
    font-size: small;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: orange;
}
