html { 
    background: url(assets/background_7.png) no-repeat center center fixed #000; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    color: white;
    font-size: large;
    text-align: center;
    padding-top: 20%;
}

div{
    text-align: center;
    font-size: small;
    padding-top: 25%;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: red;
}