html { 
    background: url(assets/background_3.png) no-repeat center center fixed #000; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
}

div{
    padding-top: 5%;
    padding-left: 70%;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
}

#line{
    padding-top: 11%;
    padding-left: 40%;
    font-size: large;
}

#second_line{
    padding-top: 10%;
    padding-left: 20%;
    font-size: large;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: lightcoral;
}
