body{
  font-family: 'VALORANT', sans-serif;                                  
  background: url("https://wallpapers.com/images/featured/valorant-305kescxw5dpup7y.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1{
  color: white;
  text-align: center;
}

form{
  background-color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
}

label{
  font-weight: bold;
}

select, input[type="submit"]{
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #d7d4d4;
  border-radius: 3px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
}

select:focus, input[type="submit"]:focus{
  outline: none;
  border-color: #66afe9;
}

#searchResults{
  margin-top: 10px;
}

#agentInfo{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
}

#agentInfoText{
  flex: 1;
}

.agent-description{
  font-size: 16px;
  color: white;
  line-height: 1.5;
}

#agentImageContainer{
  flex: 0 0 300px;
  margin-left: 20px;
}

.agent-image{
  display: block;
  width: 100%; 
  max-width: 100%;
  height: auto; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.agent-title{
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
}

.agent-role{
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
}

input[type="submit"]{
  width: 100%;
  padding: 10px;
  border: 1px solid #bdbbbb;
  border-radius: 3px;
  background-color: red;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover{
  background-color: rgb(236, 111, 111);
}