body{
    background-color: rgb(165, 121, 211);
    font-family: "Comfortaa", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    
}

h1{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.quiz-container{
    background-color: rgb(232, 204, 244);
    box-shadow: 0 0 20px 5px black;
    width: 700px;
    border-radius: 20px;
    overflow: hidden;
}

.quiz-header{
    padding: 3rem;
}

h2{
    padding: 1rem; 
    text-align: center;
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    font-size: large;
    margin: 1rem 0;
}

li label{
    cursor: pointer;
}

button{
    background-color: rgb(251, 251, 193);
    display: block;
    color: black;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 25px;
    border: 1px black;
    cursor: pointer;
}

button:hover{
    background-color: rgb(190, 187, 103);
}